/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.fl-page {
    width: auto;
    overflow: hidden;
}

.njba-tabs-panel-content {
    padding: 0;
}

.tabReverce .njba-tab-section-main {
    display: flex;
    flex-direction: column-reverse;
}

.tabCenter .njba-tabs-nav {
    display: flex;
    justify-content: center
}

.njba-tabs-label.njba-tab-active>.njba-tab-label-inner {
    border-color: #A00A20 !important;
}

.fl-page-bar-container {
    padding: 15px 0;
}

#menu-top-bar-menu .nav-link {
    font-size: 12px;
    font-weight: 500;
    padding: 2px 40px;
    font-family: 'Montserrat', sans-serif;
}

.fl-page-nav .navbar-nav>li>a.nav-link {
    padding: 22px 15px;
    margin-top: 8px;
}

.fl-page-nav {
    padding: 20px;
}

.fl-page-header .fl-page-header-container {
    padding: 10px 0;
}

.homeSlider .bx-pager.bx-default-pager {
    bottom: 30px;
}

.homeSlider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
}

.homeSlider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: transparent;
    border: 1px solid #fff;
}


/* product row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .uabb-photo-gallery-item,
    .mobile-view-100 .fl-col-small{
        width: 100% !important;
    }
    .product-row.featured h3,
    .product-row.featured h4,
    .product-row.featured h5 {
        text-align: center !important;
    }

    .product-row.featured h4 {
        margin-bottom: 20px !important;
    }
}


/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* Image Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}


/* Reviews */

.reviews h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.reviews img {
    margin: 0;
    padding: 0 0 5px 0;
}


/* Product Grid */

.swatch-thumb {
    max-height: 238px;
    overflow: hidden;
}

.swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid.swatch {
    text-align: center;
}

.product-grid.rooms {
    text-align: left;
}

.product-grid.featured {
    text-align: center;
}

.product-grid.swatch h2 {
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.swatch h4 {
    font-size: 10px;
    margin: 5px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid.rooms h2 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.rooms h4 {
    font-size: 10px;
    margin: 5px 0 5px 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.strike-price {
    color: #929292;
    text-decoration: line-through !important;
    margin-right: 10px;
}

.sale-price {
    font-weight: 700;
    color: #212121;
}

.product-grid.featured h2 {
    font-weight: 700;
    margin: 0 0 15px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.featured h4 {
    font-size: 10px;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid .fl-button {
    margin-bottom: 10px;
}

.product-grid .fl-button-text {
    font-size: 12px;
}

.product-grid a {
    text-decoration: none;
    font-size: 13px;
}

.product-grid a.link {
    color: #929292;
}

.product-grid a.link:hover {
    text-decoration: underline;
    color: #929292;
}

.product-grid a.greylink {
    color: #908c7b;
}

.product-grid a.greylink:hover {
    text-decoration: underline;
    color: #908c7b;
}

.njba-tabs-style-7 .njba-tab-menu-main .njba-tab-label-inner {
    border-bottom: 4px solid transparent;
}

@media (max-width: 767px) {
    .product-grid.swatch .row>:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid.swatch .row>:nth-child(3n+1) {
        clear: left;
    }
    .uabb-photo-gallery .uabb-photo-gallery-item.uabb-photo-item-grid{
        width: 50%;
    }
}

@media (max-width: 768px) {
    .max-width-issue .fl-module .fl-module-content.fl-node-content,
    .max-width-issue .fl-module-content.fl-node-content,
    .max-width-issue .fl-row-content-wrap{
        max-width: 400px;
        margin: 0 auto !important; 
    }
    .fl-photo-content{
        max-width: 400px;
    }
    .btn-margin{
        margin: 10px 0;
    }
    .max-width-issue .fl-module .fl-module-content.fl-node-content .uabb-photo-content {
        margin-bottom: 20px;
    }
    .homeSlider .fl-slide-foreground.clearfix .fl-slide-content-wrap .fl-slide-content{
        padding: 0px;
    }
    .location-top .fl-col-content.fl-node-content .fl-module-html > .fl-module-content.fl-node-content,
    .location-top .fl-col-content.fl-node-content .fl-module-html ~ .fl-module-button .fl-module-content.fl-node-content,
    .location-top .fl-col-content.fl-node-content .fl-module-button ~ .fl-module-rich-text .fl-module-content.fl-node-content{
        margin: 20px 20px 0;
    }
    div.facetwp-per-page{
        text-align: center !important; 
    }
    div.facetwp-per-page ~ .facetwp-pager{
        width: 100%;
    }
}
@media (min-width: 992px) {
    .product-grid.swatch .row>:nth-child(4n+1) {
        clear: left;
    }
    .product-grid.rooms .row>:nth-child(4n+4) {
        clear: left !important;
    }
}
@media (max-width: 992px) {
    footer .footerSocial-icons ul.social-icons {
        margin-top: 15px;
    }
    .product-detail-layout-5 .product-swatch, 
    .product-detail-layout-5 .product-box, 
    .product-detail-layout-5 .toggle-image-thumbnails, 
    .product-detail-layout-5 .product-swatch .img-responsive{
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid.rooms .row>:nth-child(2n+1) {
        clear: left;
    }
}

.product-grid .swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid .fl-post-grid-post {
    margin-bottom: 40px;
}


/* Facet CSS */

.facetwp-facet select {
    width: 100%;
    padding: 10px;
}

.facetwp-selections ul li {
    font-size: 16px;
}

.facetwp-per-page {
    text-align: right !important;
}

.facetwp-per-page select {
    padding: 5px;
}

.facetwp-counts {}

.facetwp-pager {
    float: right;
}

.bottom-pager .facetwp-pager {
    float: none;
    text-align: center;
}

.facetwp-pager span.pager-text {
    font-size: 14px !important;
    padding-right: 10px;
}

.facetwp-pager span.pager-arrow {
    font-size: 28px;
}

.facetwp-pager a {
    color: #929292;
    vertical-align: middle;
}

.facetwp-pager a:hover {
    text-decoration: none;
}

.facetwp-page {
    display: inline-block;
    padding: 0px 4px;
    margin-right: 6px;
    cursor: pointer;
}

.product-count {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.faceted_results {
    margin-top: 20px;
}

.facet-wrap {
    display: none;
}

.facet-wrap.is-hidden {
    display: none !important;
}

.facet_filters .facetwp-facet {
    margin-bottom: 25px;
}

.facet_filters strong {
    font-size: 16px;
    color: #630A0A;
    display: block;
    margin: 0 0 10px;
}

.facet-inner {
    max-height: 360px;
    overflow: auto;
}


/* Product Box */

.product-box {
    text-align: left;
}

.product-box a.fl-button {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 180px !important;
    display: block;
    text-align: center;
}

.product-box a.fl-button:hover {
    text-decoration: none;
}

.product-box a.fl-button.btn-white {
    background-color: transparent !important;
    border-color: #554E46 !important;
}

.product-box a.fl-button.view_more {
    background: #a00a20;
    border-color: #a00a20;
}

.product-box a.fl-button.view_more:hover {
    background: transparent;
}

.product-box a.fl-button.view_more:hover .fl-button-text {
    color: #a00a20;
}

.product-box h1 {
    margin: 0 0 0 0;
    padding: 0;
    text-transform: none;
    font-weight: 700;
}

.product-box h2 {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 1.8rem;
}


/* Product Colors */

.product-colors ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.product-colors ul li {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.product-colors ul li.found {
    font-size: 5rem;
    padding-right: 15px;
    font-weight: 300;
}


/* Product Attributes */

.product-atts ul {
    margin: 40px 0 0 0;
    padding: 0;
    color: #008c8c;
}

.product-atts ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-atts a.fl-button {
    padding: 10px 40px;
}

.product-attributes {
    text-transform: capitalize;
    margin-bottom: 80px;
    margin-top: 60px;
}

.product-attributes table th,
.product-attributes table td {
    padding: 12px !important;
}

.product-attributes table th {
    width: 30%;
}

.product-attributes table td {
    width: 70%;
}


/* Product Swatch */

.product-swatch {
    text-align: center;
}

.product-swatch .img-responsive {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 450px;
}

.product-swatch .img-responsive img {
    display: none;
    margin: 0 auto;
}


/* Product Variation */

.product-variations {
    margin: 80px 0 50px 0;
    text-align: center;
}

.product-variations>.row {
    display: block;
}

.product-variations img {
    width: 100%;
    height: auto;
    padding: 0px !important;
}

img.product-logo {
    max-width: 140px;
    height: auto;
    margin-bottom: 15px;
}


/* Color Box */

.color-box {
    margin-bottom: 30px;
    line-height: normal;
    min-height: 180px;
}

.color-box small {
    font-size: 80%;
}

.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}

.product-detail-layout-5 .product-variations {
    margin: 0 0 50px;
    padding: 20px 0;
    position: relative;
    background: #fff9f2;
}

.slick-initialized .slick-slide {
    max-width: none;
}


/* Image Gallery Modal */

.galleryMenu .menu-item:not(.current-page-ancestor) a {
    color: rgba(255, 255, 255, 0.6);
}

.active-gallery-modal .fl-post-title {
    font-family: "PT Sans Narrow";
}

.footerSocial-icons ul.social-icons {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.footerSocial-icons ul.social-icons>li {
    padding: 0 10px;
}

.footerSocial-icons ul.social-icons>li>a {
    color: #767676;
}

.footerWrapper {
    font-family: roboto;
}

.storename,
.footerWrapper .storename {
    padding: 0;
    list-style: none;
}

.footerWrapper .storename p {
    margin: 0 !important;
}

.njba-tabs-panel-content>p {
    display: none;
}

.backgroundImage-color {
    padding: 0 80px 50px;
    background: #fff9f2;
}

.njba-tabs.njba-tab-section-main .tab-align-center .njba-tabs-nav .njba-tabs-label.njba-tab-active .njba-tab-label-inner {
    border-color: rgb(160, 10, 32);
}

.fl-page .btnReverce a.fl-button {
    padding: 20px 35px;
    background: transparent;
    border-color: #ffffff;
}

.fl-page .btnReverce a.fl-button>* {
    color: #ffffff;
}

.fl-page .btnReverce a.fl-button:hover {
    background: #ffffff;
}

.fl-page .btnReverce a.fl-button:hover>* {
    color: #CC3428;
}

.search-wrapper {
    padding: 10px;
}

.phoneno>a {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.phoneno .storename {
    margin: 0px;
}

.navbar .nav .menu-item-has-children>a:after {
    content: "\f078";
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 0 0 10px;
    font-weight: 400;
}

.navbar .nav .sub-menu .menu-item-has-children>a:after {
    content: "\f054";
    position: absolute;
    right: 15px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

button#responsive-menu-button {
    z-index: 999 !important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {
    margin-top: 0px !important;
}

.form-wrap-shopat {
    z-index: 999;
}

#responsive-menu-additional-content a {
    color: #fff;
    font-size: 16px;
}

.timeEstimate .ginput_container_time select {
    width: 100px !important;
}

.facetwp-checkbox {
    font-size: 15px !important;
}


@media(max-width:1024px) {
    .fl-page-header .fl-page-header-container{
        width: 100%;
        max-width: 1000px;
    }
    .fl-page-header.fl-page-nav-right .fl-page-nav{
        padding: 10px;
    }
    #menu-top-bar-menu .nav-link{
        padding: 2px 25px;
    }
    div#responsive-menu-container #responsive-menu li.responsive-menu-item > a:hover,
    div#responsive-menu-container #responsive-menu li.responsive-menu-item > a:focus,
    div#responsive-menu-container #responsive-menu li.responsive-menu-item a,
    div#responsive-menu-container #responsive-menu li.responsive-menu-current-item > a.responsive-menu-item-link{
        background: #212122 !important;
    }
}
    @media(max-width:991px) {
    button#responsive-menu-button {
        position: absolute !important;
    }

    #menu-top-bar-menu .nav-link {
        padding: 3px 12px;
    }
    .fl-page-header-logo .fl-logo-img{
        height: auto !important;
    }
    div#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a,
    div#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow{
        background: #3f3f3f !important;
    }   
    div#responsive-menu-container #responsive-menu-additional-content{
        padding: 10px 5% !important;
        background: #212122 !important;
    }   
    div#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow{
        border-color: #3f3f3f !important;
    }
    div#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a .responsive-menu-subarrow{
        background: #000 !important;
    }
    footer .footerWrapper ~ .fl-row-fixed-width .fl-col-small{
        text-align: center;
        line-height: 2;
    }
    nav #menu-footer-menu li{
        list-style: none;
    }
    nav ul#menu-footer-menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media(max-width:500px) {
    .fl-page-nav-right .fl-page-header-logo{
        margin: 0 20px;
    }
    button#responsive-menu-button{
        top: 137px !important;
    }
    .product-box a.fl-button {
        width: 100% !important;
    }

    .quality-family-best-wrap .uabb-list-icon-wrap {
        width: 60% !important;
        display: block;
        margin: 10px 0px !important;
    }
}

.fl-content-full.container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
.fl-page-header-fixed .fl-logo-img {
    max-height: 75px !important;
}
